<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <session-config>
        <!-- 5 minutes as this is intended for a demo -->
        <session-timeout>5</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>hello.jsp</welcome-file>
    </welcome-file-list>
    <security-constraint>
        <display-name>free</display-name>
        <web-resource-collection>
            <web-resource-name>unprotected</web-resource-name>
            <description/>
            <url-pattern>/free/*</url-pattern>
        </web-resource-collection>
    </security-constraint>
     <security-constraint>
        <display-name>protected</display-name>
        <web-resource-collection>
            <web-resource-name>protected</web-resource-name>
            <description/>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>JBossAdmin</role-name>
        </auth-constraint>
    </security-constraint>
   <security-role>
        <description/>
        <role-name>JBossAdmin</role-name>
    </security-role>
</web-app>